<div class="wrapper">
    <div class="logo">
        <img src="../../assets/logito.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        FARMAVIP
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="email" name="email" id="email" placeholder="Email">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" id="pwd" placeholder="Password">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password2" id="pwd2" placeholder="Repita el Password">
        </div>
        <button class="btn mt-3">Registrarse</button>
    </form>
    <div class="text-center fs-6">
        <a href="/login">Iniciar Sesion</a>
    </div>
</div>