<div class="wrapper">
    <div class="logo">
        <img src="../../assets/logito.png" alt="">
    </div>
    <div class="text-center mt-4 name">
        FARMAVIP
    </div>
    <form class="p-3 mt-3">
        <div class="form-field d-flex align-items-center">
            <span class="far fa-user"></span>
            <input type="text" name="userName" [(ngModel)]="user.userName" id="userName" placeholder="Username">
        </div>
        <div class="form-field d-flex align-items-center">
            <span class="fas fa-key"></span>
            <input type="password" name="password" [(ngModel)]="user.password" id="pwd" placeholder="Password">
        </div>
        <button class="btn mt-3" (click)="login()">Login</button>
    </form>
    <div class="text-center fs-6">
        <a href="/register">Registrarse</a>
    </div>
</div>